/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 39, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}

/* line 65, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #222222;
}
/* line 66, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 67, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

/* line 68, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 69, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

/* line 70, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 71, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

/* line 72, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 73, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 74, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 75, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 77, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:visited {
  color: #000066;
}
/* line 21, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:focus {
  color: black;
}
/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:hover {
  color: black;
}
/* line 27, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:active {
  color: #cc0099;
}

/* line 78, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 79, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
strong {
  font-weight: bold;
}

/* line 80, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
em {
  font-style: italic;
}

/* line 81, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dfn {
  font-style: italic;
  font-weight: bold;
}

/* line 82, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 83, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 84, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 85, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
del {
  color: #666666;
}

/* line 86, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 87, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 88, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 89, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}

/* line 90, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 91, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 92, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 93, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 94, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 95, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 96, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th {
  font-weight: bold;
}

/* line 97, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 98, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 99, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tr.even td {
  background: #e5ecf9;
}

/* line 100, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 101, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
caption {
  background: #eeeeee;
}

/* line 102, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.quiet {
  color: #666666;
}

/* line 103, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.loud {
  color: #111111;
}

/* line 41, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}

/* line 44, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee;
}

/* line 47, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}

/* line 49, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}

/* line 51, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}

/* line 53, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.inline {
  line-height: 3;
}
/* line 6, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.inline p {
  margin-bottom: 0;
}

/* line 9, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.clear {
  clear: both;
}

/* line 12, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.nowrap {
  white-space: nowrap;
}

/* line 16, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.first {
  margin-left: 0;
  padding-left: 0;
}

/* line 29, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.last {
  margin-right: 0;
  padding-right: 0;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.top {
  margin-top: 0;
  padding-top: 0;
}

/* line 35, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.error a {
  color: #8a1f11;
}

/* line 6, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.notice a {
  color: #514721;
}

/* line 8, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.success a {
  color: #264409;
}

/* line 10, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.hide {
  display: none;
}

/* line 12, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.highlight {
  background: yellow;
}

/* line 14, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.added {
  background: #006600;
  color: white;
}

/* line 16, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.removed {
  background: #990000;
  color: white;
}

/* line 22, ../../../app/stylesheets/screen.sass */
body {
  background-color: #d8dcd6;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}
/* line 27, ../../../app/stylesheets/screen.sass */
body #header {
  background-color: #020035;
  margin-top: 2px;
  margin-bottom: 0;
  margin-left: 2px;
  margin-right: 2px;
}
/* line 34, ../../../app/stylesheets/screen.sass */
body #header #banner {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/dummyimage_990x30.png?1289961036');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 990px;
  height: 30px;
  margin: 0 auto;
}
/* line 40, ../../../app/stylesheets/screen.sass */
body #header #user_nav {
  font-size: 0.8em;
  background-color: black;
  border-radius: 6px;
  padding-top: 10px;
  padding-left: 35px;
  padding-bottom: 10px;
  padding-right: 35px;
  color: white;
}
/* line 41, ../../../app/stylesheets/screen.sass */
body #header #user_nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  width: 950px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 20px;
}
/* line 56, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #header #user_nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 45, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #header #user_nav ul li:first-child, body #header #user_nav ul li.first {
  padding-left: 0;
}
/* line 46, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #header #user_nav ul li:last-child, body #header #user_nav ul li.last {
  padding-right: 0;
}
/* line 48, ../../../app/stylesheets/screen.sass */
body #header #user_nav ul #logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/logo30.png?1289961036');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 30px;
  width: 30px;
  float: left;
  margin-right: 10px;
}
/* line 57, ../../../app/stylesheets/screen.sass */
body #header #user_nav ul li {
  margin: auto;
  padding-top: 6px;
  padding-bottom: 6px;
}
/* line 62, ../../../app/stylesheets/screen.sass */
body #header #user_nav ul li a {
  padding: 3px 6px;
  color: white;
  text-decoration: none;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 11px;
}
/* line 71, ../../../app/stylesheets/screen.sass */
body #header #user_nav ul li a:hover {
  background-color: black;
  border-color: white;
}
/* line 85, ../../../app/stylesheets/screen.sass */
body #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  background-color: white;
  border-style: none;
}
/* line 98, ../../../app/stylesheets/screen.sass */
body #container ul.formlist .label {
  float: left;
  width: 168px;
}
/* line 102, ../../../app/stylesheets/screen.sass */
body #container ul.formlist .remember {
  margin-left: 168px;
}
/* line 104, ../../../app/stylesheets/screen.sass */
body #container ul.formlist .actions {
  margin-left: 168px;
}
/* line 106, ../../../app/stylesheets/screen.sass */
body #container ul.formlist .field_with_errors {
  border-style: solid;
  border-color: #cc0000;
  border-width: 2px;
}
/* line 112, ../../../app/stylesheets/screen.sass */
body #container ul {
  list-style: none;
}
/* line 11, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
body #container ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 114, ../../../app/stylesheets/screen.sass */
body #container .controls {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 56, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #container .controls li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 45, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #container .controls li:first-child, body #container .controls li.first {
  padding-left: 0;
}
/* line 46, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #container .controls li:last-child, body #container .controls li.last {
  padding-right: 0;
}
/* line 118, ../../../app/stylesheets/screen.sass */
body #container i {
  color: #c5c9c7;
  font-size: 0.7em;
}
/* line 123, ../../../app/stylesheets/screen.sass */
body #container #flash_notice, body #container #flash_error, body #container #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
/* line 127, ../../../app/stylesheets/screen.sass */
body #container #flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66;
}
/* line 131, ../../../app/stylesheets/screen.sass */
body #container #flash_error, body #container #flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666;
}
/* line 135, ../../../app/stylesheets/screen.sass */
body #container .fieldWithErrors {
  display: inline;
}
/* line 138, ../../../app/stylesheets/screen.sass */
body #container .error_messages,
body #container #error_explanation {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 0.8em;
}
/* line 147, ../../../app/stylesheets/screen.sass */
body #container .error_messages h2,
body #container #error_explanation h2 {
  text-align: left;
  padding: 5px 5px 5px 15px;
  margin: 0;
  font-weight: bold;
  font-size: 0.8em;
  background-color: #cc0000;
  color: white;
}
/* line 155, ../../../app/stylesheets/screen.sass */
body #container .error_messages p,
body #container #error_explanation p {
  margin: 8px 10px;
}
/* line 157, ../../../app/stylesheets/screen.sass */
body #container .error_messages ul,
body #container #error_explanation ul {
  margin: 0;
}
/* line 160, ../../../app/stylesheets/screen.sass */
body #container .admin {
  color: red;
}
/* line 164, ../../../app/stylesheets/screen.sass */
body #container #schedule .user {
  font-size: 0.8em;
}
/* line 166, ../../../app/stylesheets/screen.sass */
body #container #schedule .tags,
body #container #schedule .date {
  font-size: 0.8em;
  color: #738595;
}
/* line 170, ../../../app/stylesheets/screen.sass */
body #container #schedule .tags {
  color: #6e750e;
}
/* line 172, ../../../app/stylesheets/screen.sass */
body #container #schedule .description {
  margin: 10px;
}
/* line 174, ../../../app/stylesheets/screen.sass */
body #container #schedule .items {
  padding-left: 10px;
  margin-left: 30px;
  font-size: 1.1em;
}
/* line 178, ../../../app/stylesheets/screen.sass */
body #container #schedule .items .infoitem {
  color: #033500;
  font-weight: bold;
}
/* line 181, ../../../app/stylesheets/screen.sass */
body #container #schedule .items .textitem {
  color: #650021;
  font-weight: bolder;
}
/* line 186, ../../../app/stylesheets/screen.sass */
body #container #schedule .items .textlvl1 {
  padding-left: 1.3em;
}
/* line 188, ../../../app/stylesheets/screen.sass */
body #container #schedule .items .textlvl2 {
  padding-left: 2.6em;
}
/* line 191, ../../../app/stylesheets/screen.sass */
body #container #schedule .items .infolvl0 {
  padding-left: 1em;
}
/* line 193, ../../../app/stylesheets/screen.sass */
body #container #schedule .items .infolvl1 {
  padding-left: 2em;
}
/* line 195, ../../../app/stylesheets/screen.sass */
body #container #schedule .items .infolvl2 {
  padding-left: 3em;
}
/* line 201, ../../../app/stylesheets/screen.sass */
body #container .new_schedule ul.formlist .label,
body #container .edit_schedule ul.formlist .label {
  float: left;
  width: 112px;
}
/* line 205, ../../../app/stylesheets/screen.sass */
body #container .new_schedule ul.formlist .actions,
body #container .edit_schedule ul.formlist .actions {
  margin-left: 112px;
}
/* line 209, ../../../app/stylesheets/screen.sass */
body #container .admin_edit i,
body #container .user_edit i {
  margin-left: 168px;
}
/* line 212, ../../../app/stylesheets/screen.sass */
body #container #content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 590px;
  margin-top: 20px;
  margin-left: 20px;
}
/* line 138, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container #content {
  overflow-x: hidden;
}
/* line 218, ../../../app/stylesheets/screen.sass */
body #container #content .horizontal {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 56, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #container #content .horizontal li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 45, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #container #content .horizontal li:first-child, body #container #content .horizontal li.first {
  padding-left: 0;
}
/* line 46, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #container #content .horizontal li:last-child, body #container #content .horizontal li.last {
  padding-right: 0;
}
/* line 221, ../../../app/stylesheets/screen.sass */
body #container #content #comments_area {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 390px;
  font-size: 0.8em;
  padding: 0 20px;
  background-color: #738595;
  border-radius: 5px;
}
/* line 138, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container #content #comments_area {
  overflow-x: hidden;
}
/* line 229, ../../../app/stylesheets/screen.sass */
body #container #content #comments_area #comments {
  padding-left: 15px;
}
/* line 231, ../../../app/stylesheets/screen.sass */
body #container #content #comments_area #comments .comment {
  border-bottom: solid 2px black;
  margin: 5px 0;
  background-color: #c5c9c7;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
}
/* line 238, ../../../app/stylesheets/screen.sass */
body #container #content #comments_area #comments .comment .date {
  color: black;
  font-size: 0.7em;
}
/* line 242, ../../../app/stylesheets/screen.sass */
body #container #content #comments_area #new_comment ul {
  padding-left: 20px;
}
/* line 244, ../../../app/stylesheets/screen.sass */
body #container #content #comments_area #new_comment textarea {
  height: 100px;
  width: 320px;
}
/* line 248, ../../../app/stylesheets/screen.sass */
body #container #tag_cloud {
  display: inline;
  float: left;
  margin-right: 0;
  width: 310px;
  margin-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 8px;
  border-width: 3px;
  border-color: #738595;
  border-style: solid;
  background-color: #c5c9c7;
}
/* line 138, ../../../../../.rvm/gems/ruby-1.9.2-p0@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container #tag_cloud {
  overflow-x: hidden;
}
/* line 261, ../../../app/stylesheets/screen.sass */
body #container #tag_cloud a {
  text-decoration: none;
  color: black;
}
/* line 264, ../../../app/stylesheets/screen.sass */
body #container #tag_cloud a:hover {
  color: white;
  background-color: black;
  border-radius: 5px;
}
/* line 269, ../../../app/stylesheets/screen.sass */
body #container #tag_cloud h3 {
  text-align: center;
  margin-top: 21px;
  margin-bottom: 19px;
}
/* line 274, ../../../app/stylesheets/screen.sass */
body #container #tag_cloud .tag_size_1 {
  font-size: 0.6em;
}
/* line 276, ../../../app/stylesheets/screen.sass */
body #container #tag_cloud .tag_size_2 {
  font-size: 0.9em;
}
/* line 278, ../../../app/stylesheets/screen.sass */
body #container #tag_cloud .tag_size_3 {
  font-size: 1.2em;
}
/* line 280, ../../../app/stylesheets/screen.sass */
body #container #tag_cloud .tag_size_4 {
  font-size: 1.5em;
}
/* line 282, ../../../app/stylesheets/screen.sass */
body #container #tag_cloud .tag_size_5 {
  font-size: 1.8em;
}
/* line 284, ../../../app/stylesheets/screen.sass */
body #container #tag_cloud .tag_size_6 {
  font-size: 2.1em;
}
/* line 289, ../../../app/stylesheets/screen.sass */
body #container div .ui-widget {
  font-size: 62.5%;
}
/* line 297, ../../../app/stylesheets/screen.sass */
body #container .authentications {
  margin-bottom: 30px;
}
/* line 300, ../../../app/stylesheets/screen.sass */
body #container .authentication {
  width: 130px;
  float: left;
  background-color: #eeeeee;
  border: solid 1px #999999;
  padding: 5px 10px;
  border-radius: 8px;
  position: relative;
  margin-right: 10px;
}
/* line 309, ../../../app/stylesheets/screen.sass */
body #container .authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333333;
  padding: 2px 4px;
  font-size: 0.7em;
}
/* line 317, ../../../app/stylesheets/screen.sass */
body #container .authentication .remove:hover {
  color: #cccccc;
  background-color: #777777;
  border-radius: 6px;
}
/* line 321, ../../../app/stylesheets/screen.sass */
body #container .authentication img {
  float: left;
  margin-right: 10px;
}
/* line 324, ../../../app/stylesheets/screen.sass */
body #container .authentication .provider {
  font-weight: bold;
}
/* line 326, ../../../app/stylesheets/screen.sass */
body #container .authentication .uid {
  color: #666666;
  font-size: 0.75em;
}
/* line 330, ../../../app/stylesheets/screen.sass */
body #container .auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}
/* line 331, ../../../app/stylesheets/screen.sass */
body #container .auth_provider img {
  display: block;
}
/* line 338, ../../../app/stylesheets/screen.sass */
body #container .auth_provider:hover {
  color: white;
  background-color: black;
  border-radius: 6px;
}
/* line 343, ../../../app/stylesheets/screen.sass */
body #container .clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
/* line 350, ../../../app/stylesheets/screen.sass */
body .ui-datepicker-calendar thead th {
  background-color: black;
}
