/* line 4, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 39, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}

/* line 68, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #222222;
}
/* line 69, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 70, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

/* line 71, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 72, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

/* line 73, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 74, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

/* line 75, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 76, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 77, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 78, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 80, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:visited {
  color: #000066;
}
/* line 22, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:focus {
  color: black;
}
/* line 26, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:hover {
  color: black;
}
/* line 30, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:active {
  color: #cc0099;
}

/* line 81, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 82, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
strong {
  font-weight: bold;
}

/* line 83, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
em {
  font-style: italic;
}

/* line 84, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dfn {
  font-style: italic;
  font-weight: bold;
}

/* line 85, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 86, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 87, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 88, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
del {
  color: #666666;
}

/* line 89, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 90, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 91, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 92, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}

/* line 93, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 94, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 95, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 96, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 97, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 98, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 99, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th {
  font-weight: bold;
}

/* line 100, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 101, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 102, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tr.even td {
  background: #e5ecf9;
}

/* line 103, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 104, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
caption {
  background: #eeeeee;
}

/* line 105, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.quiet {
  color: #666666;
}

/* line 106, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.loud {
  color: #111111;
}

/* line 42, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}

/* line 45, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee;
}

/* line 48, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee;
}

/* line 50, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}

/* line 52, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}

/* line 54, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.inline {
  line-height: 3;
}
/* line 6, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.inline p {
  margin-bottom: 0;
}

/* line 9, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.clear {
  clear: both;
}

/* line 12, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.nowrap {
  white-space: nowrap;
}

/* line 16, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 18, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}

/* line 22, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}

/* line 26, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.first {
  margin-left: 0;
  padding-left: 0;
}

/* line 29, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.last {
  margin-right: 0;
  padding-right: 0;
}

/* line 32, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.top {
  margin-top: 0;
  padding-top: 0;
}

/* line 35, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 4, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.error a {
  color: #8a1f11;
}

/* line 6, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.notice a {
  color: #514721;
}

/* line 8, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.success a {
  color: #264409;
}

/* line 10, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.hide {
  display: none;
}

/* line 12, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.highlight {
  background: yellow;
}

/* line 14, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.added {
  background: #006600;
  color: white;
}

/* line 16, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.removed {
  background: #990000;
  color: white;
}

/* line 22, ../../../app/stylesheets/screen.sass */
body {
  background-color: #000010;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  line-height: 18px;
}
/* line 27, ../../../app/stylesheets/screen.sass */
body #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  padding: 20px 40px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: white;
  border: solid 1px black;
}
/* line 35, ../../../app/stylesheets/screen.sass */
body #container .admin {
  color: red;
}
/* line 38, ../../../app/stylesheets/screen.sass */
body #container ul {
  list-style: none;
}
/* line 11, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
body #container ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}
/* line 40, ../../../app/stylesheets/screen.sass */
body #container .controls {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 15px;
}
/* line 57, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #container .controls li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 45, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #container .controls li:first-child, body #container .controls li.first {
  padding-left: 0;
}
/* line 46, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #container .controls li:last-child, body #container .controls li.last {
  padding-right: 0;
}
/* line 44, ../../../app/stylesheets/screen.sass */
body #container #header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  position: relative;
}
/* line 139, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container #header {
  overflow-x: hidden;
}
/* line 48, ../../../app/stylesheets/screen.sass */
body #container #header #flash_notice, body #container #header #flash_error, body #container #header #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
/* line 52, ../../../app/stylesheets/screen.sass */
body #container #header #flash_notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66;
}
/* line 56, ../../../app/stylesheets/screen.sass */
body #container #header #flash_error, body #container #header #flash_alert {
  background-color: #ffcccc;
  border: solid 1px #cc6666;
}
/* line 60, ../../../app/stylesheets/screen.sass */
body #container #header .fieldWithErrors {
  display: inline;
}
/* line 63, ../../../app/stylesheets/screen.sass */
body #container #header .error_messages {
  width: 400px;
  border: 2px solid #cf0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}
/* line 71, ../../../app/stylesheets/screen.sass */
body #container #header .error_messages h2 {
  text-align: left;
  padding: 5px 5px 5px 15px;
  margin: 0;
  font-weight: bold;
  font-size: 12px;
  background-color: #cc0000;
  color: white;
}
/* line 79, ../../../app/stylesheets/screen.sass */
body #container #header .error_messages p {
  margin: 8px 10px;
}
/* line 81, ../../../app/stylesheets/screen.sass */
body #container #header .error_messages ul {
  margin: 0;
}
/* line 83, ../../../app/stylesheets/screen.sass */
body #container #header #banner {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url(http://dummyimage.com/715x115/777.png&text=swimDB);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 715px;
  height: 115px;
  margin-left: 60px;
  margin-bottom: 2em;
}
/* line 90, ../../../app/stylesheets/screen.sass */
body #container #user_nav {
  font-size: 12px;
}
/* line 91, ../../../app/stylesheets/screen.sass */
body #container #user_nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  padding-left: 5px;
}
/* line 57, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #container #user_nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 45, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #container #user_nav ul li:first-child, body #container #user_nav ul li.first {
  padding-left: 0;
}
/* line 46, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #container #user_nav ul li:last-child, body #container #user_nav ul li.last {
  padding-right: 0;
}
/* line 96, ../../../app/stylesheets/screen.sass */
body #container #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 790px;
  padding-top: 20px;
}
/* line 139, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #container #content {
  overflow-x: hidden;
}
/* line 100, ../../../app/stylesheets/screen.sass */
body #container #content .horizontal {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 57, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #container #content .horizontal li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 45, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #container #content .horizontal li:first-child, body #container #content .horizontal li.first {
  padding-left: 0;
}
/* line 46, ../../../../../.rvm/gems/ree-1.8.7-2010.02@swimdb/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
body #container #content .horizontal li:last-child, body #container #content .horizontal li.last {
  padding-right: 0;
}
/* line 104, ../../../app/stylesheets/screen.sass */
body #container #content #tag_cloud .tag_size_1 {
  font-size: 0.6em;
}
/* line 106, ../../../app/stylesheets/screen.sass */
body #container #content #tag_cloud .tag_size_2 {
  font-size: 1em;
}
/* line 108, ../../../app/stylesheets/screen.sass */
body #container #content #tag_cloud .tag_size_3 {
  font-size: 1.4em;
}
/* line 110, ../../../app/stylesheets/screen.sass */
body #container #content #tag_cloud .tag_size_4 {
  font-size: 1.8em;
}
/* line 112, ../../../app/stylesheets/screen.sass */
body #container #content #tag_cloud .tag_size_5 {
  font-size: 2.2em;
}
/* line 114, ../../../app/stylesheets/screen.sass */
body #container #content #tag_cloud .tag_size_6 {
  font-size: 2.6em;
}
/* line 120, ../../../app/stylesheets/screen.sass */
body #container .authentications {
  margin-bottom: 30px;
}
/* line 123, ../../../app/stylesheets/screen.sass */
body #container .authentication {
  width: 130px;
  float: left;
  background-color: #eeeeee;
  border: solid 1px #999999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}
/* line 133, ../../../app/stylesheets/screen.sass */
body #container .authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333333;
  padding: 2px 4px;
  font-size: 10px;
}
/* line 141, ../../../app/stylesheets/screen.sass */
body #container .authentication .remove:hover {
  color: #cccccc;
  background-color: #777777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
/* line 146, ../../../app/stylesheets/screen.sass */
body #container .authentication img {
  float: left;
  margin-right: 10px;
}
/* line 149, ../../../app/stylesheets/screen.sass */
body #container .authentication .provider {
  font-weight: bold;
}
/* line 151, ../../../app/stylesheets/screen.sass */
body #container .authentication .uid {
  color: #666666;
  font-size: 11px;
}
/* line 155, ../../../app/stylesheets/screen.sass */
body #container .auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}
/* line 156, ../../../app/stylesheets/screen.sass */
body #container .auth_provider img {
  display: block;
}
/* line 164, ../../../app/stylesheets/screen.sass */
body #container .clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
