%a.auth_provider(href="/auth/twitter" title="Twitter")
  = image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter"
  Twitter

%a.auth_provider(href="/auth/facebook" title="facebook")
  = image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook"
  Facebook

%a.auth_provider(href="/auth/google_apps" title="google")
  = image_tag "google_64.png", :size => "64x64", :alt => "Google"
  Google

%a.auth_provider(href="/auth/open_id" title="openid")
  = image_tag "openid_64.png", :size => "64x64", :alt => "OpenID"
  OpenID

