- title "Users List"

- @users.each do |user|
  %ul.user
    %li=link_to user.username, adminarea_user_path(user)
    %li=user.email
    %li=user.created_at
    %li=link_to "Edit #{user.username}", edit_adminarea_user_path(user)

