#comments_area
  #comments_count
    - unless @schedule.comments.empty?
      %h2= pluralize(@schedule.comments.size, 'Comment')
  %ul#comments
    = render :partial => @schedule.comments.sort_by(&:created_at)
  %br
  - if user_signed_in?
    = render :partial => "/comments/form"

