#comments_area
  - unless @schedule.comments.empty?
    #comments_count
      %h2= pluralize(@schedule.comments.size, 'Comment')
    %ul#comments
      = render :partial => @schedule.comments
  %br
  - if user_signed_in?
    = render :partial => "/comments/form"

