%fieldset.item
  %ul.horizontal
    %li= f.number_field :level, :in => 0..2, :step => 1, :id => 'level', :class => 'item-level', :size => 10, :name => 'schedule[items][][level]'
    %li= f.text_field :text,                             :id => 'text',  :class => 'item-text',  :size => 40, :name => 'schedule[items][][text]'
    %li= remove_child_link "(remove)", f

