%fieldset.item
  = fields_for 'items', item, :index => nil do |f|
    %ul.horizontal
      %li= f.number_field :level, :in => 0..2, :step => 1, :id => 'level', :class => 'item-level', :size => 10
      %li= f.text_field :text,                             :id => 'text',  :class => 'item-text',  :size => 40
      %li= link_to_function "(remove)", "$(this).up('.item').remove()"

