-title "Schedules"
%ul
  = will_paginate @schedules
  - for schedule in @schedules
    %li
      %strong
        =link_to schedule.title, schedule
      .date
        =schedule.date.strftime('%d. %b, %Y') #format noch falsch gleich über i18 richtig machen
      .count
        =pluralize(schedule.comments.count, 'Comment')

  - if user_signed_in?
    %li
      = link_to 'New Schedule', new_schedule_path

