%div
  %strong
    =@schedule.name
  %em
    =@schedule.date.strftime('%d. %b, %Y')
  %em
    =@schedule.taggings
  %p
    =@schedule.description
  %ul
    -for item in @schedule.items
      %li
        =item.text
  %ul
    Volle Distanz
    =@schedule.full_schedule_distance
  %ul.controls
    - if user_signed_in?
      %li= link_to "Edit", edit_schedule_path(@schedule)
      %li= link_to "Destroy", @schedule, :confirm => 'Are you sure?', :method => :delete
    %li= link_to "View All", schedules_path

