%div
  %strong
    =@schedule.name
  %em
    =@schedule.created_at.strftime('%d. %b, %Y')
  %p
    =@schedule.description
  %ul
    -for item in @schedule.items.sort(:rank).all
      %li
        =item.text
  %ul
    Volle Distanz
    =@schedule.full_schedule_distance
  %ul.controls
    %li= link_to "Edit", edit_schedule_path(@schedule)
    %li= link_to "Destroy", @schedule, :confirm => 'Are you sure?', :method => :delete
    %li= link_to "View All", schedules_path

