%div
  %strong.title
    =@schedule.name
  %em.cinfo
    =@schedule.cached_user
    =@schedule.date.strftime('%d. %b, %Y')
  %em.tags
    =@schedule.taggings
  %p
    =@schedule.description
  %ul.items
    -for item in @schedule.items
      %li
        =item.text
    %li
      Volle Distanz
      =@schedule.full_schedule_distance
  %ul.controls
    - if user_signed_in?
      %li= link_to "Edit", edit_schedule_path(@schedule)
      %li= link_to "Destroy", @schedule, :confirm => 'Are you sure?', :method => :delete
    %li= link_to "Show All", schedules_path
= render :partial => 'comments_area'

