#tag_cloud
  %h3
    TagCloud:
  - tag_cloud(@tags, %w(tag_size_1 tag_size_2 tag_size_3 tag_size_4 tag_size_5 tag_size_6)) do |tag, css_class|
    = link_to tag, params.merge(:by_tag => tag), :class => css_class
  %p= link_to "Show all", schedules_path

